spring:
  datasource:
    url: jdbc:mysql://localhost:3306/pic?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=UTF-8
    username: root
    password: 123
    driver-class-name: com.mysql.cj.jdbc.Driver
  #    type: com.zaxxer.hikari.HikariDataSource

  flyway:
    enabled: true
    clean-disabled: true
    baseline-on-migrate: true
    out-of-order: false

mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: deleted  # 全局逻辑删除的实体字段名(since 3.3.0,配置后可以忽略不配置步骤2)
      logic-delete-value: 1 # 逻辑已删除值(默认为 1)
      logic-not-delete-value: 0 # 逻辑未删除值(默认为 0)
      id-type: auto
  checkConfigLocation: true